p {
    width: 200px;
    border: 2px dotted #333;
    margin-left: 20px;
}

div {
    border: 1px solid blue;
    width: 350px;
}

#p1 {
    background-color: aqua;
}

#paragrafo-1 {
    background-color: aqua;
}

#paragrafo-2 {
    background-color:aquamarine;
}

#paragrafo-3 {
    background-color:lightcoral;
}

#paragrafo-4 {
    background-color:lightpink;
}

#paragrafo-5 {
    background-color:lightskyblue;
}