body {
    background-color: white;
}

#form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}

#form div {
    padding: 10px;
}

#form input, textarea, fieldset {
    border-radius: 5px;
}

#form select {
    width: 150px;
}